<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>DDD代码生成器</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/theme.toggle.js"></script>
</head>
<body class="bg-body-tertiary">
<main style="margin: 10px auto">
    <nav class="navbar navbar-expand-xxl p-2 mb-2 bg-body-secondary text-white">
        <a class="navbar-brand" href="#">DDD代码生成器</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex flex-wrap flex-grow-1">
                <div class="p-2 flex-grow-1">
                    <select class="form-control w-100" id="serviceName">
                        <option value="">服务</option>
                    </select>
                </div>
                <div class="p-2 flex-grow-1">
                    <select class="form-control w-100" id="contextName">
                        <option value="">限界上下文</option>
                    </select>
                </div>
                <div class="p-2 flex-grow-1">
                    <select class="form-control w-100" id="domainName">
                        <option value="">领域</option>
                    </select>
                </div>
                <div class="p-2 flex-grow-1">
                    <select class="form-control w-100" id="aggregateName">
                        <option value="">聚合</option>
                    </select>
                </div>
            </div>
            <div aria-label="Theme switcher icons" class="btn-group ms-auto" role="group">
                <!-- Light Mode Button -->
                <button aria-pressed="false" class="btn btn-outline-primary" data-bs-theme-value="light"
                        type="button">
                    <i class="bi bi-sun"></i> Light
                </button>
                <!-- Dark Mode Button -->
                <button aria-pressed="false" class="btn btn-outline-secondary" data-bs-theme-value="dark"
                        type="button">
                    <i class="bi bi-moon"></i> Dark
                </button>
                <!-- Auto Mode Button -->
                <button aria-pressed="false" class="btn btn-outline-warning" data-bs-theme-value="auto"
                        type="button">
                    <i class="bi bi-circle-half"></i> Auto
                </button>
            </div>
        </div>
    </nav>

    <div>
        <div class="row" style="align-items: flex-start">
            <div class="col-md-3 nav-tabs">
                <h4 style="padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;line-height: 1.5;">
                    选择要生成的组件
                </h4>
                <div class="form-check col-auto me-3">
                    <input class="form-check-input" id="all-checked-1" onclick="handlerAllChecked()" type="checkbox">
                    <label class="form-check-label" for="all-checked-1">全选</label>
                </div>
                <div id="all-1" onchange="handlerAllCheckedChange()">
                    <div class="mb-4">
                        <div class="group"
                             style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;">
                            <h5>领域层</h5>
                            <div class="d-flex flex-wrap">
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableEntity" name="enableEntity"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableEntity">实体</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableRecord" name="enableRecord"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableRecord">数据记录</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableValue" name="enableValue"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableValue">值对象</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableEnum" name="enableEnum"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableEnum">枚举</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableMethod" name="enableMethod"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableMethod">行为方法</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableRepository"
                                           name="enableRepository"
                                           type="checkbox">
                                    <label class="form-check-label" for="enableRepository">仓储</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="group"
                             style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;">
                            <h5>应用层</h5>
                            <div class="d-flex flex-wrap">
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableCommandHandler"
                                           name="enableCommandHandler" type="checkbox">
                                    <label class="form-check-label" for="enableCommandHandler">命令处理器</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableCommandTransfer"
                                           name="enableCommandTransfer" type="checkbox">
                                    <label class="form-check-label" for="enableCommandTransfer">命令传输对象</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableQueryHandler"
                                           name="enableQueryHandler" type="checkbox">
                                    <label class="form-check-label" for="enableQueryHandler">查询处理器</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableQueryTransfer"
                                           name="enableQueryTransfer" type="checkbox">
                                    <label class="form-check-label" for="enableQueryTransfer">查询传输对象</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="group"
                             style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;">
                            <h5>基础设施层</h5>
                            <div class="d-flex flex-wrap">
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableDataManager"
                                           name="enableDataManager" type="checkbox">
                                    <label class="form-check-label" for="enableDataManager">数据管理类</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableMapper"
                                           name="enableMapper" type="checkbox">
                                    <label class="form-check-label" for="enableMapper">Mybatis映射器</label>
                                </div>
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableDrivenTransfer"
                                           name="enableDrivenTransfer" type="checkbox">
                                    <label class="form-check-label"
                                           for="enableDrivenTransfer">被动适配器的传输对象</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="group"
                             style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;">
                            <h5>界面层</h5>
                            <div class="d-flex flex-wrap">
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableDrivingAdapter"
                                           name="enableDrivingAdapter" type="checkbox">
                                    <label class="form-check-label" for="enableDrivingAdapter">主动适配器</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="group"
                             style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; width: 100%; display: block;">
                            <h5>SideCar</h5>
                            <div class="d-flex flex-wrap">
                                <div class="form-check col-auto me-3">
                                    <input checked class="form-check-input" id="enableController"
                                           name="enableController" type="checkbox">
                                    <label class="form-check-label" for="enableController">Web控制器</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success mt-3" id="generateCode">生成代码</button>
                        <button class="btn btn-success mt-3" id="generate" type="submit">更新聚合信息</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="nav nav-tabs mb-4 bg-body-tertiary" id="aggregateTab" role="tablist" tabindex="0">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" id="aggregate-tab"
                           role="tab">聚合</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="entities-tab" role="tab">实体</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="enums-tab" role="tab">枚举</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="values-tab" role="tab">值对象</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="methods-tab" role="tab">行为方法</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="transfers-tab" role="tab">传输对象</a>
                    </li>
                </ul>

                <form autocomplete="off" id="yamlForm" method="post">
                    <div class="tab-content bg-body-tertiary">
                        <div class="tab-pane fade show active" id="aggregate" role="tabpanel">
                            <h2>聚合信息</h2>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="author" name="author" placeholder="作者" required
                                       type="text">
                                <label for="author">作者</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="version" name="version" placeholder="版本" required
                                       type="text">
                                <label for="version">版本</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="groupId" name="groupId" placeholder="Group ID" required
                                       type="text">
                                <label for="groupId">Group ID</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="__serviceName" name="serviceName" placeholder="服务名称"
                                       required
                                       type="text">
                                <label for="__serviceName">服务名称</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="rootPath" name="rootPath" placeholder="服务根路径"
                                       required
                                       type="text">
                                <label for="rootPath">服务根路径</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="serviceSubPackage" name="serviceSubPackage"
                                       placeholder="服务业务子包" required
                                       type="text">
                                <label for="serviceSubPackage">服务业务子包</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="__contextName" name="contextName"
                                       placeholder="限界上下文名称" required
                                       type="text">
                                <label for="__contextName">限界上下文名称</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="__domainName" name="domainName" placeholder="领域名称"
                                       required
                                       type="text">
                                <label for="__domainName">领域名称</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="__aggregateName" name="aggregateName"
                                       placeholder="聚合名称" required
                                       type="text">
                                <label for="__aggregateName">聚合名称</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input class="form-control" id="description" name="description" placeholder="聚合描述"
                                       required
                                       type="text">
                                <label for="description">聚合描述</label>
                            </div>
                            <div class="field-container mb-2">
                                <h3>字段</h3>
                                <div class="fields"></div>
                                <button class="btn btn-primary add-aggregate-field" type="button">+</button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="entities" role="tabpanel">
                            <h2>实体信息</h2>
                            <button class="btn btn-primary add-entities" type="button">添加实体</button>
                            <div class="entities-container"></div>
                        </div>

                        <div class="tab-pane fade" id="enums" role="tabpanel">
                            <h2>枚举信息</h2>
                            <button class="btn btn-primary add-enum" type="button">添加枚举</button>
                            <div class="enums-container"></div>
                        </div>

                        <div class="tab-pane fade" id="values" role="tabpanel">
                            <h2>值对象信息</h2>
                            <button class="btn btn-primary add-value" type="button">添加值对象</button>
                            <div class="values-container"></div>
                        </div>

                        <div class="tab-pane fade" id="methods" role="tabpanel">
                            <h2>方法信息</h2>
                            <button class="btn btn-primary add-method" type="button">添加方法</button>
                            <div class="methods-container"></div>
                        </div>

                        <div class="tab-pane fade" id="transfers" role="tabpanel">
                            <h2>传输对象信息</h2>
                            <button class="btn btn-primary add-transfers" type="button">添加传输对象</button>
                            <div class="transfers-container"></div>
                        </div>
                    </div>
                    <input id="yamlFormSubmit" style="display: none" type="submit"/>
                </form>
            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="alertModalLabel" class="modal fade" id="alertModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">提示</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                        <!--                        <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 弹窗内容将动态更新 -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button">确定</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/transform.js"></script>
<script src="/js/dom-core.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
